/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: bold; /* or bold */
    font-style: normal; /* or normal */
    font-size: 24px;
    text-align: auto;
    color: #ccccff;
    background-image: url("Graphics/horizon.png"), url("Graphics/starry.gif");
    background-position: bottom, left top;
    background-repeat: repeat-x, repeat;
    background-size: 100% cover, auto;
    background-attachment: fixed, scroll;
    padding: 15px;
    overflow-x: hidden;
}

.centered-text {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.towerBG-body {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url(Personal/TowerBody.gif);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.responsiveimage {
    width: 100%;
    flex-grow: 1;
    object-fit: contain;
}

a:link {
    color: orange;
    text-decoration: none;
}
  
a:visited {
    color: lightblue;
    text-decoration: none;
}
  
.center-table {
    margin-left: auto;
    margin-right: auto;
}
.sidenav {
    height: 100%;
    width: 500px;
    position: fixed;
    top: 0;
    Left: 0;
    background-color: blue;
    overflow-x: hidden;
    padding-top: 60px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .row {
        background-color: lightblue;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.spacer {
    height: 100px;
}
@media only screen and (max-width: 800px) {
    .spacer {
        height: 0px;
    }
}

.column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
    width: 100%;
    height: 100%;
}
/*
@media (max-width: 800px) {
    .column {
        transform: scale(0.8);
        max-width: 100%;
    }
}
*/

.flyknight-text {
    font-family: "Press Start 2P", sans-serif;
}

.index-button { 
    font-size: 20px;
    border: none;
    color: #ffffff;
    text-shadow: -2px 2px 3px #000000;
    border-radius: 20px;
    transition: width 0.2s ease-out;
    cursor: pointer;
    display: flex;
    align-self: center;
    align-items: center;
    width: 80%;
    justify-content: center;
    height: 75px;
    box-shadow: -5px 5px 3px #00000081;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
.button-link {
    display: inline-block;
}
.index-button:hover {
    width: 100%; /* Change width on hover */
}
.index-button img {
    vertical-align: middle;
    transition: height 0.5s ease-out;
    height: 80%;
}
.index-button:hover img {
    height: 100%;
}
.index-button span {
    margin-left: 2vw;
    margin-right: 2vw;
    line-height: inherit;
    vertical-align: middle;
}

body, table, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

#actionButton {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#buttonImage {
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    position: relative;
    top: 10px;
    left: 0px;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(50px);
    }
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    56% { color: lightblue; }
    84% { color: violet; }
    100% { color: red; }
}

.letter {
    display: inline-block;
    animation: bounce 1s infinite;
    animation-timing-function: steps(3, end);
    font-size: clamp(30px, 10vw, 50px);
    text-shadow: 5px 5px 0px #000000;
    padding-top: 0px;
    padding-bottom: 0px;
}
.bouncing-container {
  white-space: nowrap; /* Prevents text from wrapping */
  text-align: center;
  margin: auto;
  max-width: 20%;
}
@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  56% { color: lightblue; }
  84% { color: violet; }
  100% { color: red; }
  
}